# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=prod
APP_DEBUG=0
APP_SECRET=change_me
###< symfony/framework-bundle ###

###> symfony/routing ###

###< symfony/routing ###

MYSQL_USER=change_me
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=change_me
MYSQL_ROOT_PASSWORD=change_me

###> doctrine/doctrine-bundle ###
# host uses the docker-compose service name, not 127.0.0.1
DATABASE_URL="mysql://change_me:change_me@127.0.0.1:3306/change_me?serverVersion=8.0.32&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###

###< symfony/messenger ###

###> symfony/mailer ###

###< symfony/mailer ###
